# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Temporary files, for example, from tests.
/tmp/
native/peer_id/target/
native/iroh_discovery/target/
rootfs_overlay/usr/bin/iroh_discovery_port
priv/native/*
.DS_Store
priv/bin/
